<!--{{ $url := urls.Parse .Site.BaseURL }}
<script async defer data-domain="{{ $url.Host }}" src="https://plausible.io/js/plausible.js"></script>
-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.GoogleAnalyticsID }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.GoogleAnalyticsID }}');
</script>